name: PR on main branch

on:
  pull_request:
    branches: [ main ]

jobs:
  test-clearnode:
    name: Test (Clearnode)
    uses: ./.github/workflows/test-go.yml
    with:
      project-path: 'clearnode'
      project-name: 'Clearnode'

  test-forge:
    name: Test (Foundry)
    uses: ./.github/workflows/test-forge.yml
    with:
      project-path: 'contract'
      project-name: 'Foundry'

  test-sdk:
    name: Test (SDK)
    uses: ./.github/workflows/test-sdk.yml
    with:
      project-path: 'sdk'
      project-name: 'SDK'

  test-integration:
    name: Test (Integration)
    needs: test-sdk
    uses: ./.github/workflows/test-integration.yml
    with:
      project-path: 'integration'
      project-name: 'Integration'

  build-and-publish-clearnode:
    name: Build and Publish (Clearnode)
    needs: test-clearnode
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract short SHA
        id: sha
        run: echo "short_sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: clearnode
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/clearnode:${{ steps.sha.outputs.short_sha }}

  # TODO: Enable this job if docs preview are needed (do not forget to provide GITHUB_TOKEN and GH access to receive preview URLs).
  # https://stackoverflow.com/questions/75514653/firebase-action-hosting-deploy-fails-with-requesterror-resource-not-accessible

  # build-and-preview-docs-firebase:
  #   name: Deploy to Firebase Hosting on PR
  #   if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - run: npm install && npm run build
  #       working-directory: erc7824-docs

  #     - uses: FirebaseExtended/action-hosting-deploy@v0
  #       with:
  #         # repoToken: ${{ secrets.GITHUB_TOKEN }}
  #         firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ERC7824 }}
  #         projectId: erc7824
  #         entryPoint: ./erc7824-docs
